<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
</head>
<body>
  <h1>
    Hub USP Inovação: Aviso sobre atualização de Empresas
  </h1>

  <p>
    Novas empresas solicitaram alterações nos seus dados.
    As mudanças foram anexadas na nova versão da planilha que está em anexo.
  </p>
</body>
</html>