<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
</head>
<body>
  <h1>Hub USP Inovação: <%= @entity %> - Aviso semanal sobre dados</h1>

  <p>Alguns dados a respeito de <strong><%= @entity %></strong> podem estar incorretos e causaram os seguintes erros:</p>

  <ul>
    <% @warnings.each do |warning| %>
      <li><%= warning %></li>
    <% end %>
  </ul>

  <p>
    A planilha para correção é: 
    <a href="<%= @sheet_url %>">Planilha</a>
  </p>
</body>
</html>
